<!--
  **NOTE:** This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<!DOCTYPE html>
<html>
  <head>
    <% if(htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->

    <% } %>
  </head>
  <body>
    <h1> Hello World?</h1>
    <table>
      <thead>
        <th>id</th>
        <th>name</th>
        <th>last name</th>
        <th>email</th>
      </thead>
      <tbody id="users">

      </tbody>
    </table>
  </body>
</html>
